/* .mainCard{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgba(133, 84, 20, 0.5);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;
} */

.grass{
    background-color: #fffffe;
}
.imgCard{
    width: 50%;
    height: 110%;
    display: flex;
    justify-content: right;
    margin-left: 5%;
    margin-top: -20%;
}

.h3card{
    display: flex;
    justify-content: right;
    margin-right: 1rem;
    font-family:'Courier New', Courier, monospace;
    color: whitesmoke;
}

.typesCard{
    display: flex;
    justify-content: right;
    margin-right: 1rem;
    margin-top: -20%;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.idCard{
    display: flex;
    justify-content: right;
    margin-right: 1rem;
    color: white;
}