.divHomeCards{
    display: inline-block;
}

.grass{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(84, 170, 84);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;
}
.grass:hover{
    background-color: rgb(114, 170, 114);
}
.fire{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(197, 116, 78);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;    
}
.fire:hover{
    background-color: rgb(194, 132, 104);
}
.water{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(69, 122, 201);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;       
}
.water:hover{
    background-color: rgb(95, 139, 205);
}
.bug{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(142, 156, 64);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;   
}
.bug:hover{
    background-color: rgb(151, 159, 107);
}
.normal{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(213, 185, 158);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;   
}
.normal:hover{
    background-color: rgb(212, 199, 186);    
}
.fighting{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(99, 26, 26);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;   
}
.fighting:hover{
    background-color: rgb(94, 45, 45);
}
.rock{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(97, 82, 74);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;   
}
.rock:hover{
    background-color: rgb(95, 88, 84);    
}
.ground{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(99, 64, 48);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;   
}
.ground:hover{
    background-color: rgb(99, 72, 60);
}
.poison{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(128, 66, 128);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;   
}
.poison:hover{
    background-color: rgb(129, 83, 129); 
}
.psychic{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(199, 124, 187);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;   
}
.psychic:hover{
    background-color: rgb(197, 150, 189);
}
.ice{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(140, 168, 211);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;   
}
.ice:hover{
    background-color: rgb(169, 186, 211);
}
.ghost{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(57, 58, 58);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;  
}
.ghost:hover{
    background-color: rgb(94, 95, 95);
}
.electric{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(231, 231, 61);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;  
}
.electric:hover{
    background-color: rgb(231, 231, 105);
}
.dragon{
    border: none;
    margin: 10px;
    display: inline-block;
    height: 9rem;
    width: 25rem;
    border-radius: 20px;
    background-color: rgb(39, 46, 87);
    background-repeat: no-repeat;
    background-size:400px 360px;
    -moz-background-inline-policy: unset;
    background-attachment: unset;  
}
.dragon:hover{
    background-color: rgb(54, 59, 87);
}

.divHome{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(51, 47, 47);
}
.h1Home{
    display: flex;
    margin-left: 40%;
    margin-bottom: -3%;
    width: 15rem;
}

.selectTypesHome{
    width: 10%;
    height: 2.5rem;
    margin-left: 21%;
    margin-right: 10%;
    display:flex;
    justify-items: start;
    padding-left: 0.7rem;
    border-radius: 5px;
    border:none;
    background-color: rgb(63, 61, 61);
    margin-top: 1rem;
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: lightgray;
}

.selectExistingHome{
    width: 10%;
    height: 2.5rem;
    margin-left: 32%;
    margin-right: 10%;
    display:flex;
    justify-items: start;
    padding-left: 0.7rem;
    border-radius: 5px;
    border:none;
    background-color: rgb(63, 61, 61);
    margin-top: -2.5rem;
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: lightgray;
}

.selectAZHome{
    width: 10%;
    height: 2.5rem;
    margin-left: 43%;
    margin-right: 10%;
    display:flex;
    justify-items: start;
    padding-left: 0.7rem;
    border-radius: 5px;
    border:none;
    background-color: rgb(63, 61, 61);
    margin-top: -2.5rem;
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: lightgray;
}

.selectAttackHome{
    width: 10%;
    height: 2.5rem;
    margin-left: 54%;
    margin-right: 10%;
    display:flex;
    justify-items: start;
    padding-left: 0.7rem;
    border-radius: 5px;
    border:none;
    background-color: rgb(63, 61, 61);
    margin-top: -2.5rem;
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: lightgray;
}

.selectDefenseHome{
    width: 10%;
    height: 2.5rem;
    margin-left: 65%;
    margin-right: 10%;
    display:flex;
    justify-items: start;
    padding-left: 0.7rem;
    border-radius: 5px;
    border:none;
    background-color: rgb(63, 61, 61);
    margin-top: -2.5rem;
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: lightgray;
}

.selectHpHome{
    width: 10%;
    height: 2.5rem;
    margin-left: 76%;
    margin-right: 10%;
    display:flex;
    justify-items: start;
    padding-left: 0.7rem;
    border-radius: 5px;
    border:none;
    background-color: rgb(63, 61, 61);
    margin-top: -2.5rem;
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: lightgray;
}

.selectSpeedHome{
    width: 10%;
    height: 2.5rem;
    margin-left: 87%;
    display:flex;
    justify-items: start;
    padding-left: 0.7rem;
    border-radius: 5px;
    border:none;
    background-color: rgb(63, 61, 61);
    margin-top: -2.5rem;
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: lightgray;
}

.divFilters{
    margin-left: 10%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
}

.btnCreatePokemons{
    display: flex;
    justify-content: left;
    margin-left: 83%;
    width: 11.5rem;
    height: 2.5rem;
    padding-top: 12px;
    padding-left: 28px;
    border: none;
    border-radius: 7px;
    background-color: rgb(230, 192, 42);
    font-family:'Courier New', Courier, monospace;
    color: rgb(36, 36, 36);
    font-size: 14px;
    font-weight:900;
    text-decoration: none;
}

.btnResetFilters{
    display: flex;
    justify-content: left;
    margin-left: 68.5%;
    margin-top: -2.47rem;
    margin-bottom: -1.5rem;
    width: 11rem;
    height: 2.5rem;
    padding-top: 12px;
    padding-left: 32px;
    border: none;
    border-radius: 7px;
    background-color: rgb(82, 82, 81);
    font-family:'Courier New', Courier, monospace;
    color: lightgray;
    font-size: 14px;
    font-weight:900;
    text-decoration: none;
}

:link{
    text-decoration: none;
}

.divTitleBtnFilters{
    background-color: rgb(36, 36, 36);
}

.inputSearch{
    display: flex;
    width: 17rem;
    height: 2.5rem;
    border-radius: 5px;
    margin-left: 3%;
    margin-bottom: -4.7rem;
    margin-top: 2.5rem;
    padding-left: 2%;
    justify-content: left;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight:900;
    color: rgb(5, 5, 5);
    background-color: rgb(63, 61, 61);
    border: none;
}

::placeholder{
    color: lightgray;
}

.btnSearch{
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    margin-left: 22%;
    margin-bottom: -6%;
    background-color: black;
}

.divPaginadoHome{
    background-color: rgb(36, 36, 36);
    padding-top: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
}